apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deploy 
spec:
  minReadySeconds: 5
  replicas: 3
  selector:
    matchLabels:
      app: web
  strategy: 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  template:
    metadata: 
      labels:
        app: web
    spec:
      containers:
        - name: my-dep-con 
          image: longflew/ingress:YELLOWPAGE
          ports:
            - containerPort: 80
      restartPolicy: Always 