apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: my-replica 
spec:
  minReadySeconds: 5
  replicas: 3
  selector:
    matchExpressions:
      - key: env
        operator: In
        values: ["prod","staging"]
  template:
    metadata:
      labels:
        env: prod
    spec:
      containers:
        - name: my-container 
          image: nginx:latest
          ports:
            - containerPort: 80

