apiVersion: v1
kind: Pod
metadata:
  name: my-pod
  labels: 
    app: web
  namespace: prob
spec: 
  containers: 
    - name: my-container
      image: nginx:latest
      ports: 
        - containerPort: 80
      livenessProbe: 
        httpGet:
          path: /
          port: 80
        initialDelaySeconds: 10
        periodSeconds: 5
        failureThreshold: 3
      readinessProbe:
        exec:
          command:
            - cat 
            - /usr/share/nginx/html
        initialDelaySeconds: 10
        periodSeconds: 5
        failureThreshold: 3
        successThreshold: 2
      startupProbe:
        grpc: 
          port: 80
        initialDelaySeconds: 10
        periodSeconds: 5
        failureThreshold: 3
        successThreshold: 1
      
